body {
    background-image: url(images/webbackground.png);
    background-size:;
    font-family: calibri, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: skyblue;
}

h1,
h2,
h3,
h4 {
    margin: 0px;
}

#container {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
    padding: 20px;
}

#nav {
    width: 20%;
    float: left;
}

#nav ul {
    list-style-type: none;
    padding: 0px;
    padding-right: 20px;
}

.siteLinks {
    font-weight: bold;
}

.siteLinks:hover {
    background-color: lightgray;
}


#homeheader {
    width: 80%;
    float: right;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
    
}

#about {
    
    text-align: center;
    float: left;
    padding-left: 70%
}

#socialmedia {
    padding: 10px;
}

#testing {
    background-color: white;
}


#socialmediakit {
    text-align: inherit; 
    font-size: 20px;
}

#classes{
     text-align: center;
}

#mathclass{
    
    float:left;
    padding-left: 3%;
}

#chessclub{
    
    float: right;
   padding-right: 5%;
}

#contact{
    
    text-align: center;
}
